# Automatically enter the Nix dev shell when you cd into this directory.
# Requires direnv (https://direnv.net/) and nix-direnv
# (https://github.com/nix-community/nix-direnv).
#
# One-time setup:
#   direnv allow
use flake
